@import 'partials/variables';
@import 'partials/fonts';

body {
	background: #ecf0f1;
}

.single-post {

	h1.light-green {
		margin-top: 0;
		margin-bottom: 40px;
	}
}

.image-col {
	text-align: center;

	@media (min-width: $sm) {
		text-align: right;
	}
}

h3.date {
	margin: 5px 0 30px 0;
}

.post {
	margin-bottom: 40px;

	> .image {
		padding-top: 60%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	@media (min-width: $sm) {
		.list-header {
			margin-top: 0;
		}
	}
}

.left-column {
	@media (min-width: $sm) {
		text-align: right;
	}
}

.body {
	@include noto();
	text-transform: none;
	font-weight: normal;
}

.bordered {
	padding: 40px 0;
	margin-bottom: 40px;
	border-bottom: 1px solid $light-green;

	&:first-child {
		border-top: none;
	}

	@media(min-width: $sm) {
		margin: 0 60px 40px 60px;
		padding: 40px;
		background: white;
		border: 1px solid $light-green;
	}
}