@import 'partials/variables';
@import 'partials/mixins';

.logo {
	margin: 35px;
}

.header-section {
	padding: 60px 0;
	text-align: center;

	@media(min-height: 600px) {
		padding: 80px 0;
	}

	&.logo-section {
		@media (min-height: 800px) {
			padding: 140px 0;
		}
	}
}

.section-button {
	display: inline-block;
	margin: 0 30px 30px 30px;
	padding: 20px 5px;
	width: 150px;
	height: 100px;
	border: solid 1px $light-green;
	border-radius: 5px;

	.fa {
		color: $light-green;
		font-size: 2em;
		margin-bottom: 10px;
	}

	@media (min-height: 800px) {
		font-size: 24px;
		width: 240px;
		height: 140px;
	}
}

.projects {
	white-space: nowrap;
	overflow-x: scroll;

	> .project {
		display: inline-block;
		padding: 30px;
	}

	@media (min-width: $sm) {
		overflow: hidden;
	}
}

.projects-pagination {
	position: absolute;
	bottom: 20px;
	right: 20px;

	.projects-pagination-arrow {
		@include gradient-border();
		display: inline-block;
		width: 45px;
		height: 45px;
		margin: 5px;
		padding: 5px;
		font-size: 25px;
		text-align: center;
		border-radius: 3px;
	}
}

.map {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
}