@import 'partials/variables';
@import 'partials/mixins';

body {
	background: url('../img/bg.jpg');
}

.logo {
	margin: 60px 0;
}

.section-button {
	display: inline-block;
	margin: 0 30px 30px 30px;
	padding-top: 65px;
	width: 136px;
	height: 95px;
	font-size: 13px;
	background: url('../img/icons.png');
	background-repeat: no-repeat;
	transition: background-position .3s;

	$list: make-sites, social-media, about-us, google, blog, searching-for-other;

	@for $i from 1 through length($list) {
	    $b: nth($list, $i);

	    &.#{$b} {
	    	background-position: (($i - 1) * -136px) 0;

			&:hover {
				background-position: (($i - 1) * -136px) -95px;
			}
	    }
	}
}

.projects {
	.project {
		padding: 30px;

		.image {
			padding-top: 60%;
		}
	}
}

.projects-pagination {
	position: absolute;
	bottom: 20px;
	right: 20px;

	.projects-pagination-arrow {
		@include gradient-border();
		display: inline-block;
		width: 45px;
		height: 45px;
		margin: 5px;
		padding: 5px;
		font-size: 25px;
		text-align: center;
		border-radius: 3px;
	}
}

.portfolio-button {
	min-width: calc(33.33% - 60px);
}

.info {
	padding-bottom: 60vh;
}

.map {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50vh;
}

.message-form {
	position: relative;
	z-index: 50;

	.form-group {
		margin-bottom: 20px;
	}

	.form-control {
		background: $gray;
		border: none;
		box-shadow: none;
		text-transform: uppercase;
	}

	textarea {
		height: 88px;
	}
}

.contact-logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: url('../img/bg.jpg');
	padding: 20px;

	> img {
		transform: rotate(-45deg);
	}
}

.address {
	
	position: relative;
	top: -10px;
	font-size: 16px;
	font-weight: bold;

	> div {
		margin-bottom: 5px;
	}
}

.overlay-project {
	margin-bottom: 20px;
}
