@import 'partials/variables';
@import 'partials/mixins';

body {
	background: url('../img/bg.jpg');
}

.logo {
	margin: 60px 0;
}

.section-button {
	display: inline-block;
	margin: 0 30px 30px 30px;
	padding: 20px 5px;
	width: 150px;
	height: 100px;
	border: solid 1px $dark-green;
	border-radius: 5px;
	transition: .5s background-color;

	.fa {
		color: $dark-green;
		font-size: 2em;
		margin-bottom: 15px;
		transition: .5s color;
	}

	&:hover {
		border-color: $light-green;

		.fa {
			color: $light-green;
		}
	}

	@media (min-height: 800px) {
		font-size: 24px;
		width: 240px;
		height: 140px;
	}
}

.projects {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;

	> .project {
		display: inline-block;
		padding: 30px;
	}

	@media (min-width: $sm) {
		overflow: hidden;
	}
}

.projects-pagination {
	position: absolute;
	bottom: 20px;
	right: 20px;

	.projects-pagination-arrow {
		@include gradient-border();
		display: inline-block;
		width: 45px;
		height: 45px;
		margin: 5px;
		padding: 5px;
		font-size: 25px;
		text-align: center;
		border-radius: 3px;
	}
}

.info {
	padding-bottom: 60vh;
}

.map {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50vh;
}

.message-form {
	position: relative;
	z-index: 50;

	.form-group {
		margin-bottom: 20px;
	}

	.form-control {
		background: $gray;
		border: none;
		box-shadow: none;
		text-transform: uppercase;
	}

	textarea {
		height: 88px;
	}
}

.contact-logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: url('../img/bg.jpg');
	padding: 20px;

	> img {
		transform: rotate(-45deg);
	}
}

.address {
	
	position: relative;
	top: -10px;
	font-size: 16px;
	font-weight: bold;

	> div {
		margin-bottom: 5px;
	}
}

.overlay-project {
	margin-bottom: 20px;
}
