body {
	@include bpg-nino();
	position: relative;
	overflow-x: hidden;
}

img, iframe {
	max-width: 100%;
}


/* GENERAL */

.wrapper {
	transition: .5s transform;
}

.header-section {
	padding: 20px 0;
	text-align: center;

	> h1, > h2, > h3, > h4, > h5, > h6 {
		font-weight: bold;
	}

	@media(min-height: 900px) {
		padding: 50px 0;
	}

	&.logo-section {
		@media (min-height: 800px) {
			padding: 80px 0;
		}
	}
}

.slide {
	position: relative;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&.city {
		background-image: url('../img/bg.png');
		color: white;
	}
}

.overlay-page {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: white;
	opacity: .5;
	z-index: 200;
	transform: translateX(-100%) scale(.6);
	transition: all .5s;

	.sidebar {
		padding: 20px;
		background: url('../img/bg.png');
		background-position: top left;
		background-size: cover;

		@media (min-width: $sm) {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 120px;
			text-align: center;
			background-position: center;
		}
	}

	.content {
		padding: 10px 10px 50px 10px;
		max-height: 100%;
		overflow-y: auto;
		z-index: 50;

		@media (min-width: $sm) {
			padding: 30px 30px 30px 150px;
		}

		.nano {
			padding: 20px;
			height: calc(100vh - 350px);
			bottom: 0;

			@media (min-width: $sm) {
				height: calc(100vh - 250px);
			}
		} 
	}

	&.active {
		transform: translateX(0);
		opacity: 1;
	}
}

.gradient-button {
	margin: 0 15px 5px 15px;
	padding: 10px 20px 8px 20px;
	background: none;
	outline: none;
	border: solid 2px $light-green;
	border-radius: 5px;

	&:hover, &:focus, &.active {
		@include gradient-background();
		color: white;
	}

	@media (max-width: $sm - 1) {
		min-width: 200px;
		display: block;
		margin: 0 auto 10px auto;
	}
}

.btn-primary {
	background: $light-green;
	border-color: $light-green;
	text-transform: uppercase;

	&:hover,
	&:focus {
		background: $dark-green;
	}
}

.fa-container, .social {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 10px 10px 0;
	text-align: center;
	border-radius: 50%;
	font-size: 25px;
}

.fa-container {
	color: $light-green;
	border: solid 3px $light-green;
	background-color: white;
}

.social {
	padding-top: 5px;
	color: white;
	background-color: $light-green;
}

.menu-news {
	margin: 0 20px 20px 20px;
	border: 1px solid $light-green;
	border-radius: 10px;
	overflow: hidden;

	img {
		width: 100%;
	}

	> .description {
		padding: 10px;
	}
}


/*	HELPERS	*/

.unstyled {
	color: inherit !important;
	text-decoration: none !important;
}

.light-green {
	color: $light-green;
}
