.menu-button {
	text-align: center;
	position: fixed;
	width: 50px;
	top: 50px;
	left: 50px;
	z-index: 100;

	.menu-toggle {
		@include unstyled-button();
		margin-bottom: 5px;
		width: 50px;

		> .icon-bar {
			margin-bottom: 10px;
			display: block;
			height: 3px;
			background: $dark-green;
		}

		&:hover {
			> .icon-bar {
				background: $light-green;
			}
		}
	}

	&.gone {
		transform: translateX(-120px);
	}
}

.menu-button {
	transition: .5s transform;
}

.lang-link, .lang-link:hover, .lang-link:focus {
	@include gradient-border();
	display: inline-block;
	width: 50px;
	padding: 5px 5px 3px;
	text-decoration: none;
	color: black;
	background: white;

	&:hover {
		border-color:$light-green;
	}
}

.menu {
	text-align: center;
	position: fixed;
	height: 100vh;
	width: 300px;
	transform: translateX(-300px);
	overflow-y: auto;
	transition: .5s transform;

	.menu-header {
		padding-top: 10px;
	}

	.menu-close, .lang-link {
		margin-top: 15px;
	}

	.menu-close {
		@include unstyled-button();
	}

	.fa-close {
		color: $light-green;
		font-size: 40px;
	}

	.nav li {

		> a {
			border-radius: 0;
			color: $light-green;
		}

		&.active > a {
			color: white;
			background: $light-green;
		}
	}
}

.shifted-wrapper {
	transform: translateX(300px);
}

.shifted-menu {
	transform: none;
}