.menu {
	text-align: center;
	position: fixed;
	width: 50px;
	top: 100px;
	left: 50px;
	z-index: 100;

	.menu-toggle {
		margin-bottom: 5px;
		padding: 0;
		background: none;
		border: none;
		outline: none;
		width: 50px;

		> .icon-bar {
			margin-bottom: 10px;
			display: block;
			height: 3px;
			background: $dark-green;
		}

		&:hover {
			> .icon-bar {
				background: $light-green;
			}
		}
	}
}

.lang-link, .lang-link:hover, .lang-link:focus {
	@include gradient-border();
	display: inline-block;
	width: 50px;
	padding: 5px 5px 3px;
	text-decoration: none;
	color: black;
	background: white;

	&:hover {
		border-color:$light-green;
	}
}